/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover, a:focus {
  text-decoration: underline;
}

img {
  max-width: 37.5em; /* 600px /16 */
}
p {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  max-width: 750px;
  padding-top: 2rem;
  min-height: calc( 100vh - 104px);
}
main :first-child {
  margin-top: 0;
}

main h1 {
  font-size: 2.5rem;
  line-height: 3.2rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 595px) {
  main h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.meta .separator {
  padding: 0 0.5rem;
  color: #aaa;
}

.meta .published {
  color: #aaa;
  display: inline;
  font-size: 0.9rem;
}

.meta .tags {
  color: #aaa;
  display: inline;
  font-size: 0.9rem;
}

header .home, header .nav {
  padding: 1rem 0 0 0;
  display: inline-block;
}

@media only screen and (max-width: 595px) {
  header .home, header .nav {
    padding-bottom: 1.5rem;
  }
}

header .home {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

header:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  font-size: 0.8em; /* 16px /16 */
  width: 100%;
  padding: 1rem 0;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
}

@media only screen and (max-width: 595px) {
  footer {
    padding: 1rem 0 1rem 0;
  }
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  max-width: 750px;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em !important;
  margin: .5em 0;
  background-color: #f6f6f6;
  overflow-x: scroll;
}
code {
  max-width: 750px;
  white-space: break-spaces;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist li {
  display: block;
  align-items: baseline;
  padding-bottom: 1rem;
}

.postlist time {
  display: block;
  font-size: 0.8125em; /* 13px /16 */
  word-spacing: -0.5px;
  color: #bbb;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6666666666667em; /* 8px /12 */
  color: var(--darkgray);
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  text-decoration: underline;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
}

@media only screen and (max-width: 595px) {
  .container {
    padding: 0 1rem;
  }
}

.post-nav {
  margin-top: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid #f6f6f6;
}

.post-nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.post-nav ul li {
  margin: 0.5rem 0;
}
