---
const today = new Date();
---

<footer class="py-4 text-sm lg:text-base lg:pt-8 lg:pb-0 text-center lg:text-left text-stone-300 bg-white">
  <span>&copy; {today.getFullYear()} Mirza Pandzo - powered by <a href="https://astro.build" rel="nofollow bookmark" target="_blank">Astro</a> &amp; <a href="https://tailwindcss.com" rel="nofollow bookmark" target="_blank">Tailwind</a> on <a href="https://vercel.com" rel="nofollow bookmark" target="_blank">Vercel</a></span>
</footer>
