---
import { SITE_TITLE } from '../consts';
---

<header class="my-8 container">
	<nav class="flex flex-col space-y-2 lg:space-y-0 lg:flex-row lg:justify-between px-4 lg:px-0 lg:items-center">
		<a class="font-bold text-2xl" href="/">Mirza Pandzo</a>
		<div class="flex space-x-4 text-sm">
			<a class="hover:underline" href="https://www.linkedin.com/in/mirzapandzo">LinkedIn</a>
			<a class="hover:underline" href="https://github.com/mpandzo">Github</a>
			<a class="hover:underline" href="/rss.xml">Rss</a>			
		</div>
	</nav>
</header>
